SECRET_KEY=your-secret-key-here
FLASK_ENV=development
FLASK_DEBUG=True

# MySQL
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=1234
MYSQL_DB=college_system_cse

# Rasa
RASA_MODEL_PATH=models
RASA_SERVER_URL=http://localhost:5005
